<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Munder Difflin Paper</title>
		<link rel="stylesheet"  href="stylesheets/homepage.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	</head>
	<body>
		<div>
			<div id="head">
				<header>
				<h1>MUNDER DIFFLIN PAPER</h1>
				<img id="head-image" src="images/gif/twirl.gif">
				<h5 id="red">"Planning a wedding is like running a company. You're the CEO of Love Inc."</h5>
				</header>
			</div>
			
			<div>
				<section>
					<h2 class="headings">About Us</h2>
					<h4>At Munder Difflin Paper, we specialize in wedding stationary. We work side by side with wedding planners and to-be brides to ensure customer satisfaction.</h4>
				</section>
			</div>

			<div>
				<h2 class="headings">Products</h2>
			<div class="container1">
				<div class="card card-panel pink lighten-5">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="images/product_pics/envelope.jpg" alt="Products Envelopes">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">Envelopes</i></span>
			      <p><a href="#"></a></p>
			    </div>
			    <div class="card-reveal pink lighten-4">
			      <span class="card-title grey-text text-darken-4">Envelopes<i class="material-icons right">close</i></span>
			      <p>Product Detail: 
			      	<ul>
			      		<li>Price: $</li>
			      	</ul>
			      </p>
			    </div>
			  </div>

			  
			  <div class="card card-panel pink lighten-5">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="images/product_pics/invitation.jpg" alt="Products Invitations">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">Invitations</i></span>
			      <p><a href="#"></a></p>
			    </div>
			    <div class="card-reveal pink lighten-4">
			      <span class="card-title grey-text text-darken-4">Invitations<i class="material-icons right">close</i></span>
			      <p>Product Detail: 
			      	<ul>
			      		<li>Price: $$</li>
			      	</ul>
			      </p>
			    </div>
			  </div>
   
			  <div class="card card-panel pink lighten-5">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="images/product_pics/placeholder.jpg" alt="Products Placeholders">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Place Holders<i class="material-icons right"></i></span>
			      <p><a href="#"></a></p>
			    </div>
			    <div class="card-reveal pink lighten-4">
			      <span class="card-title grey-text text-darken-4">Place Holders<i class="material-icons right">close</i></span>
			      <p>Product Detail: 
			      	<ul>
			      		<li>Price: $$</li>
			      	</ul></
			      </p>
			    </div>
			  </div>
	</div>

		<h2 class="headings">Themes</h2>
		<div class="container1">
				<div class="card card-panel pink lighten-5">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="images/theme_pics/classic.jpg" alt="Classic Theme">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Classic Theme<i class="material-icons right"></i></span>
			      <p><a href="#"></a></p>
			    </div>
			    <div class="card-reveal pink lighten-4">
			      <span class="card-title grey-text text-darken-4">Classic Theme<i class="material-icons right">close</i></span>
			      <p>Product Detail: 
			      	<ul>
			      		<li>Price: $$</li>
			      	</ul></
			      </p>
			    </div>
			  </div>
  
			  <div class="card card-panel pink lighten-5">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="images/theme_pics/fairytale.jpg" alt="Fairytale Theme">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Fairytale Theme<i class="material-icons right"></i></span>
			      <p><a href="#"></a></p>
			    </div>
			    <div class="card-reveal pink lighten-4">
			      <span class="card-title grey-text text-darken-4">Fairytale Theme<i class="material-icons right">close</i></span>
			      <p>Product Detail: 
			      	<ul>
			      		<li>Price: $$</li>
			      	</ul></
			      </p>
			    </div>
			  </div>
  
			  <div class="card card-panel pink lighten-5">
			    <div class="card-image waves-effect waves-block waves-light">
			      <img class="activator" src="images/theme_pics/pastel.jpg" alt=" Pastel Theme">
			    </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4">Pastel Theme<i class="material-icons right"></i></span>
			      <p><a href="#"></a></p>
			    </div>
			    <div class="card-reveal pink lighten-4">
			      <span class="card-title grey-text text-darken-4">Pastel Theme<i class="material-icons right">close</i></span>
			      <p>Product Detail: 
			      	<ul>
			      		<li>Price: $$</li>
			      	</ul></
			      </p>
			    </div>
			  </div>
</div>
			<div>
				<footer id="foot">
					<p>Munder Difflin Paper 354 Chip Lane Portland ME 04101 (207)-275-8150 info.munderdifflin.com</p>
				</footer>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

		<script src="javascript/javascript_homepage/homepage.js"></script>
	</body>
</html>